# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/
build 

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore cache directories
__pycache__/
.cache/
